html {
  scroll-behavior: smooth;
}

.showcase-area {
  background: url("../../img/video-home-slider/main-bg.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 600px;
  overflow: hidden;
}

.showcase-area .showcase-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../../img/video-home-slider/overly-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.showcase-area .showcase-main {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.showcase-area .showcase-main .content-part .showcase1-slider .showcase1-slider-item.slick-active .slider-content-wrap .sub-title {
  -webkit-animation: fadeInLeft 1s;
  animation: fadeInLeft 1s;
}

.showcase-area .showcase-main .content-part .showcase1-slider .showcase1-slider-item.slick-active .slider-content-wrap .title {
  -webkit-animation: zoomIn 1s;
  animation: zoomIn 1s;
}

.showcase-area .showcase-main .content-part .showcase1-slider .showcase1-slider-item.slick-active .slider-content-wrap p {
  -webkit-animation: zoomIn 1s;
  animation: zoomIn 1s;
}

.showcase-area .showcase-main .content-part .showcase1-slider .showcase1-slider-item.slick-active .btn-wrapper {
  -webkit-animation: slideInUp 1s;
  animation: slideInUp 1s;
}

.showcase-area .showcase-main .video-part .pulse-icon {
  display: inline-block;
}

.showcase-area .showcase-slider-controls {
  position: absolute;
  bottom: 150px;
  left: 6.7%;
  -ms-transform: translateX(-10.5%);
  -webkit-transform: translateX(-93.3%);
  transform: translateX(-93.3%);
}

.showcase-area button.slick-prev,
.showcase-area .slick-arrow {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 16px;
  color: rgb(100, 38, 38);
  background: #5e0e0e;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.section1-btn {
  font-family: Lato-Bold;
  font-size: 18px;
  line-height: 22px;
  background: #05cafe;
  color: #fff;
  border-radius: 25px;
  transition: all .3s;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 14px 0;
  width: 250px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 40px
}

.section1-btn:hover {
  font-family: Lato-Bold;
  font-size: 18px;
  line-height: 22px;
  background: #362966;
  color: #fff;
  border-radius: 25px;
  transition: all .3s;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 14px 0;
  width: 250px;
  cursor: pointer;
}

/*
    .Technologies-areaa, .with-bg122{
          background-image: url(../../img/technology/bg12.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    padding-top: 100px;
    display: block;
        -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
    }*/
.background_tecc {
  background-image: url(../../img/technology/bg14.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
  padding-top: 100px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

}

.btn-wrapperr .boxed-btnn {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  border: none;
  height: 45px;
  min-width: 180px;
  color: var(--white);
  background: #1cbde0;
  cursor: pointer;
  display: inline-block;
  line-height: 45px;
  text-align: center;
  border-radius: 35px;
  font-weight: 600;
}

.btn-wrapperr .boxed-btnn a {

  color: inherit;
  text-decoration: none;
  color: var(--paragraph-color);
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

}

.btn-wrapperr a:hover,
a:focus,
a:active {

  text-decoration: none;
  outline: none;
  color: inherit;


}

.therapy-box-area {
  font-family: Lato-Bold;

}

.therapy-box .icon-wrap {
  padding: 50px;
  position: relative;
  background-image: url(../../img/therapy/icon-shape2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.section-title p {
  padding-top: 5px;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #111;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.home_page h1 {
  text-transform: capitalize;
  line-height: 1.3;
  font-size: 3rem;
}

.product {
  overflow: auto;
}

.product img {
  border-radius: 2px !important;
}

.product h1 {
  text-transform: capitalize;
  margin-bottom: 0rem;
  line-height: initial;
  min-height: initial;
}

/*Our Partners*/
.our_partners {
  background: #ECECEC;
  padding: 6rem 0;
}

.our_partners span.del {
  position: relative;
}

.our_partners span.del::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 95%;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background-color: rgb(224, 12, 12);
}

.home-register-1 h3 {
  text-transform: capitalize;
  font-size: 1.75rem;
}

main {
  padding: 0;
  margin: 0;
}

.home_page {
  height: calc(100vh + 6rem);
  background: rgba(36, 15, 98, .75);
}


.section-1-head {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.section-1-headh1 {
  width: 100%;
  font-size: 2.5rem !important;
}

.second_title {
  transform: translateY(7rem);
}

.home-text a {
  font-size: 2.5rem;
  position: absolute;
  bottom: -8rem
}

@media screen and (max-width:750px) {
  .home-text h1 {
    font-size: 2.5rem;
  }


}

/*section -2 */
.section-2 {
  padding: 6rem 0 0;
}

.section-2-wrapper {
  padding: 2rem 2rem 0 2rem;
  background-color: #fff;
  transform: translateY(-150px);
}

.section-3 {
  padding: 10rem 0 14rem;
}

@media screen and (max-width:991px) {
  .upper_div {
    margin-bottom: 4rem !important;
  }
}

.request-section {
  padding: 4rem !important;
}

.home_section_text h2 {
  text-transform: capitalize;
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.home_section_text p {
  line-height: 1.6;
  font-size: 1.15rem;
  margin-bottom: 1rem !important;
}

/*section 4 */
.section-4 {
  padding: 15rem 0;
  background-color: rgb(236, 236, 236) !important;
  border: none !important;
  position: relative;
  height: auto;
}

.section-4-slides {
  margin-bottom: 20rem;
}

.section-4::before {
  position: absolute;
  content: "";
  bottom: -18.5rem;
  left: 0;
  width: 100%;
  background-color: #ececec;
}

.student-section {
  background-color: rgb(236, 236, 236) !important;
  border: none !important;
  padding: 6rem 0;
}

.student-section-title {
  text-transform: capitalize;
  font-size: 1rem;
  margin-bottom: 3rem
}

.student__item-img {
  text-align: center;
  margin-bottom: 1rem;
}

.student__item img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
}

.student__item h3 {
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.student__item p {
  color: #777;
  line-height: 1.3;
}

.student_img img {
  min-height: 450px;
  object-fit: contain;
}

.statics_item {
  background: transparent;
  padding: .5rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  color: #fff !important;
  transition: all .25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media screen and (max-width:992px) {
  .student__item {
    text-align: center !important;
  }
}

.statics {
  margin: 2rem 0;
}

.statics_item:hover {
  transform: translateY(-.5rem);
}

.statics_item:first-child {
  margin-right: 1rem;
}

.statics_item h1 {
  font-weight: 900;
  color: #fff !important;
  font-size: 1.8rem !important;
}

.statics_item p {
  text-transform: capitalize;
  font-size: .9rem !important;
  color: #fff !important;
  width: 90%;
  margin: 0 auto;
}

/*Home Contact*/
.home_contact {
  padding: 6rem 0;
  background: #fff;

}

.home_contact-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.home_contact-wrapper h1 {
  margin-bottom: 2rem;
  font-size: 2rem !important;
}

.home_contact_info {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.home_contact_info-item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.home_contact_info-item h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
  letter-spacing: 1px
}

.home_contact_info-item:first-child {
  margin-right: 2rem;
}

.home-products-content .product img,
.home-products-content .product video {
  height: auto;
}

.home-products-content .product>.position-relative {
  height: 250px;
  overflow: hidden;
}

@media screen and (max-width:700px) {
  .contact_wrapper {
    width: 100% !important;
  }

  .home_contact_info-item {
    text-align: center;
  }
}

@media screen and (max-width:576px) {
  .home_contact_info-item {
    margin-bottom: 2rem;
  }
}

.door_bg {
  padding: 10rem 0;
  background-image: url("../../img/technology/bg14.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100%;
}

@media screen and (max-width:1348px) {


  .door_bg_content {
    transform: translateY(-5rem);
  }
}

@media screen and (max-width:1199px) {
  .door_bg {
    background-image: url("../../img/technology/bg14.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 80%;
  }

  .door_bg_content h2 {
    font-size: 1.5rem !important;
  }

  .door_bg_content .door_bg_text {
    font-size: 1rem !important;
  }

  .statics_item h1 {
    font-size: 1.25rem !important;
  }

  .statics_item p {
    width: 100%;
    font-size: .85rem !important;
  }

}

.background_tec h1 {
  text-transform: capitalize;
  font-size: 2.25rem;
  margin-bottom: 1rem;
  color: #fff;
}

.background_tec p {
  line-height: 1.6;
  font-size: 1.1rem;
  margin-bottom: 1rem !important;
  color: #f5f5f5;
}

.home-register-content {
  position: relative;
  z-index: 2;
}

.home-register img {
  z-index: 1 !important;
}

.btn {
  width: 10rem;
  padding: .75rem 0;
}


/*Works*/
.works {
  padding: 6rem 0;
  /* background-color: #F3F7FA;*/
  background: #fff
}

.works h1 {
  text-transform: capitalize;
  margin-bottom: 2rem;
  color: #32485E;
}

.works .work_item {
  padding: 2rem 1rem;
  background-color: #fff;
  border-radius: 2rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, .25);
  cursor: pointer;
  margin-bottom: 2rem;
  height: 230px;
  max-height: 230px;
}

.works .work_item:hover .work_icon {
  transform: scale(1.15);
}

.works .work_item .work_icon {
  height: 3rem;
  color: #362275;
  margin-bottom: 4rem;
  transition: all .25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.works .work_item h4 {
  font-size: 1.1rem;
  line-height: 1.3;
  text-transform: capitalize;
  color: #362275;
  font-weight: 500;
}

/*Products*/
.our_products {
  padding: 6rem 0;
  background-color: #240F62;
}

.product_item img {
  height: 250px;
  border-radius: 5px;
  transition: all .25s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.product_item-link {
  overflow: hidden;
  border-radius: 5px;
}

.product_item-link:hover img {
  transform: scale(1.1);
}

.product-item-title {
  text-transform: capitalize;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.product_item ul {
  list-style: none;
}

.product_item li {
  text-transform: capitalize;
  color: rgba(255, 255, 255, .75);
  font-size: 1.1rem;
}

.product_item li::before {
  content: "•";
  color: #05CAFE;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

.our_btn {
  padding: .5rem 1.25rem;
  color: #89A6D7;
  border-bottom: .25rem solid #89A6D7;
  padding-bottom: 1rem;
  text-decoration: none;
  margin-top: 2rem;
  font-size: 1rem;
  text-transform: capitalize;
  display: inline-block;
}

.our_btn:hover {
  text-decoration: none;
}

.our_btn_bg {
  background-color: rgba(137, 166, 215, .5);
  color: #fff;

  border-bottom: .25rem solid #89A6D7;
}

.video_wrapper {
  padding: 22px 74px 37px 68px !important;
}

@media screen and (max-width:768px) {
  .video_wrapper {
    padding: 20px 60px 30px 55px !important;
  }
}

@media screen and (max-width:500px) {
  .video_wrapper {
    padding: 20px 60px 30px 55px !important;
  }
}

.iframe {
  width: 914px;
  position: absolute;
  transform: translate(7rem, 6.5rem);
  height: 589px;
  border-radius: .5rem;
  border: 0;
  top: 0;
  left: 0;
}

.webgl-content .footer {
  display: none !important;
}

.webgl-content,
.webgl-content #unityContainer {
  width: 100% !important;
  height: 100% !important;
}

@media screen and (max-width:1200px) {
  .iframe {
    width: 764px;
    position: absolute;
    transform: translate(6rem, 6rem);
    height: 491px;
    border-radius: .5rem;
    border: 0;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width:992px) {
  .iframe {
    width: 560px;
    position: absolute;
    transform: translate(4.9rem, 5.8rem);
    height: 361px;
    border-radius: .5rem;
    border: 0;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width:768px) {
  .iframe {
    width: 429px;
    position: absolute;
    transform: translate(3.5rem, 5.4rem);
    height: 268px;
    border-radius: .5rem;
    border: 0;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width:525px) {
  .iframe {
    width: 410px;
    position: absolute;
    transform: translate(3.5rem, 5.4rem);
    height: 268px;
    border-radius: .5rem;
    border: 0;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width:525px) {
  .iframe {
    width: 410px;
    position: absolute;
    transform: translate(3.5rem, 5.4rem);
    height: 268px;
    border-radius: .5rem;
    border: 0;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width:525px) {
  .iframe {
    width: 384px;
    position: absolute;
    transform: translate(3.5rem, 5.4rem);
    height: 244px;
    border-radius: .5rem;
    border: 0;
    top: 0;
    left: 0;
  }
}


.showcase {
  padding: 6rem 0;
  background-color: #fff;
}

.showcase_wrapper {
  width: 100%;
  padding: 4rem 0;
  position: relative;
}

.showcase_wrapper .iframe {
  position: absolute;

}

.text-heading {
  transform: translateY(2.5rem);
  width: 55% !important;
  margin: 0 auto;

}

.second_title {
  position: relative;
}

.second_title .first {
  position: absolute;
  top: 0;
  left: 7rem;
}

.home_page .home-text .slider_text {
  transform: translateX(8rem);
}


@media only screen and (max-width:991px) {

  .second_title .first {
    position: absolute;
    top: 0;
    left: -6rem;
  }
}

@media only screen and (max-width:749px) {

  .second_title .first {
    position: absolute;
    top: 0;
    left: -3rem;
  }
}

@media only screen and (max-width:550px) {
  .home-text .slider_text {
    transform: translateX(6rem) !important;
  }
}

@media only screen and (max-width:491px) {
  .home_page .home-text .slider_text {
    transform: translateX(0) !important;
  }

  .second_title .first {
    position: relative !important;
    top: 0;
    left: 0;
  }
}

.down_icon {
  animation: btnDown 4s cubic-bezier(0.23, 1, 0.320, 1) infinite;
}

@keyframes btnDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1rem);
  }

  100% {
    transform: translateY(0);
  }
}